<template>
    <div>
        <h3>Login</h3>
        <form>
            <div>
                <input type="email" placeholder="Email">
            </div>
            <div>
                <input type="password" placeholder="Password">
            </div>
            <button>Login</button>
        </form>
    </div>
</template>

<script setup>

</script>

<style scoped>
input {
    margin-bottom: 10px;
}
</style>