<template>
    <div>
        <h3>Register</h3>
        <form @click.prevent="register">
            <div>
                <input type="text" placeholder="Name" v-model="name">
                {{ }}
            </div>
            <div>
                <input type="email" placeholder="Email" v-model="email">
            </div>
            <div>
                <input type="password" placeholder="Password" v-model="password">
            </div>
            <div>
                <input type="password" placeholder="Confirm Password" v-model="password_confirmation">
            </div>
            <button>Register</button>
        </form>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from '../../axios/index'
import { useRouter } from 'vue-router'
const router = useRouter();
const name = ref('');
const email = ref('');
const password = ref('');
const password_confirmation = ref('');
const response_code = ref(0);

const register = async () => {
    try {
        const response = await axios.post('/api/auth/register', {
            name: name.value,
            email: email.value,
            password: password.value,
            password_confirmation: password_confirmation.value,
        });
        response_code.value = response.data.status

    } catch (error) {
        response_code.value = error.response.data.status

    }

    if (response_code.value === 201) {
        console.log('Registration success')
        router.push({ name: 'Dashboard' })
    } else {
        console.log('Something went wrong')
    }


}
</script>

<style scoped>
input {
    margin-bottom: 10px;
}
</style>