<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <div>
    <nav>
      <RouterLink class="nav-link" :to="{ name: 'Home' }">Home</RouterLink>
      <RouterLink class="nav-link" :to="{ name: 'Login' }">Login</RouterLink>
      <RouterLink class="nav-link" :to="{ name: 'Register' }">Register</RouterLink>
      <RouterLink class="nav-link" :to="{ name: 'Dashboard' }">Dashboard</RouterLink>
    </nav>
    <RouterView />
  </div>
</template>

<style scoped>
.nav-link {
  padding: 3px;
}
</style>
